<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
                xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style></style>
    <link rel="stylesheet" href="css/Index.css">
    <script src="js/Index.js" type="text/javascript"></script>
</head>
<body>
<div id="container">
    <header>
        员工信息管理系统
        <div id="loginOut">
            <span onclick="login()" sec:authorize="!isAuthenticated()">
                <img src="img/login.png"> 登录
            </span>
            <span sec:authorize="isAuthenticated()">
                欢迎^^: <span sec:authentication="name"></span>
                <form id="formLogout" th:action="@{/logout}" method= "post" style="display: inline">
                    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                    <span id="logoutSpan" onclick="logout()">
                        <img src="img/logout.png">退出
                    </span>
                </form>
            </span>
        </div>
    </header>

    <div id="body">
        <aside>
            <a class="module" href="register" target="op">用户注册</a>
            <a class="module" href="categories" target="op" sec:authorize="hasRole('admin')">分类管理</a>
            <a class="module" href="desserts" target="op" sec:authorize="hasAnyRole('admin','normal')">甜点管理</a>
            <a class="module" href="releaseNew/8" target="op" sec:authorize="hasAnyRole('admin','normal')">新品上市</a>
        </aside>
        <div id="content">
            <iframe src="welcome" name="op" id="op" scrolling="no">
            </iframe>
        </div>
    </div>
    <footer> Copyright © 2025 衡水学院 王凌霄</footer>
</div>
</body>
</html>